<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <img src="assets/logo.png" class="card-img-top">
        <div class="card-body">
          <div class="title">
            <p>Registrarse</p>
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" formControlName="nombre" id="nombre" class="form-control" placeholder="Nombre" required>
              <div *ngIf="registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched">
                El Nombre es requerido.
              </div>
            </div>
            <div class="form-group">
              <label for="apellidos">Apellidos</label>
              <input type="text" formControlName="apellidos" id="apellidos" class="form-control" placeholder="Apellidos" required>
              <div *ngIf="registerForm.get('apellidos')?.invalid && registerForm.get('apellidos')?.touched">
                Los Apellidos son requeridos.
              </div>
            </div>
            <div class="form-group">
              <label for="direccion">Dirección</label>
              <input type="text" formControlName="direccion" id="direccion" class="form-control" placeholder="Dirección" required>
              <div *ngIf="registerForm.get('direccion')?.invalid && registerForm.get('direccion')?.touched">
                La Dirección es requerida.
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" formControlName="email" id="email" class="form-control" placeholder="Email" required>
              <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                El Email tiene que tener un formato valido.
              </div>
            </div>
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input type="password" formControlName="password" id="password" class="form-control" placeholder="Contraseña" required>
              <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                La contraseña es requerida y debe tener al menos 6 caracteres.
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirmar Contraseña</label>
              <input type="password" formControlName="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirmar Contraseña" required>
              <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched">
                Las contraseñas deben coincidir.
              </div>
            </div>
            <button type="submit" class="btn btn-success btn-block btn-custom" [disabled]="registerForm.invalid">Registrarse</button>
            <p class="text-center">¿Ya tienes una cuenta? <a routerLink="/login" class="text-primary">Iniciar sesión</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
